################################################################
#应用ID和应用密钥在 Eova社区>我的项目 http://www.eova.cn/app 注册获取, 请勿将自己的应用配置泄漏给其它人

#应用ID
app_id = eova2038749913986358
#应用密钥
app_secret = a5VsbdGvSkw1hNTu6paVom+MbPzz9AxLyjI52iqln3kwzMmimxZBYbhL5mKTEWHSsMTl35R73ukIqe9uCEMk6Ta7hn+npvqFMulVWLed+E9MORSJUqLPWarNLPyZIUIXQbR95BxOnQV0R4yUvntnaijBotOLVOLHaLp9OVMRTvQ=
################################################################

#应用域名
app_domain = https://natp.do-it.cn
#应用LOGO(暂无)
app_logo = /eova/ui/images/logo.png
#应用主页
app_main = /welcome
#应用主页标题(暂无)
app_main_title = EOVA PRO V2.0

app.name = 核酸检测平台

#登录页版权信息
app_login_copyright = © 2020 新疆动力科技有限公司

service-begin-hour=10
service-end-hour=18
service-cancel-full-hours=4
service-cancel-part-minutes=30